<%- include('../partials/header'); %>  
    <h2>Enter a New Flight</h2>
    <form action="/flights" method="POST">
      <label>Airline:
          <input type="text" name="airline" required>
        </label><br>
      <label>Flight Number:
          <input type="text" name="flightNo" required>
      </label><br>
      <label>Departure Date:
          <input type="datetime-local" name="departs" required>
      </label><br>
      <label>Departure Airport:
          <select name="airport">
            <option value="AUS">AUS</option>
            <option value="DAL">DAL</option>
            <option value="LAX">LAX</option>
            <option value="SEA">SEA</option>
          </select>
          <br>
      </label><br>
      <input type="submit" value="Add Flight">
    </form>
<%- include('../partials/footer'); %>  
